{% extends "index.html" %}

{% block content %}
    <div id="welcome">
        <h1>Grupy użytkownika {{ user.first_name }} {{ user.last_name }}</h1>
        <p>Tutaj możesz sprawdzić do jakich grup należysz.</p>
    </div>

    {% if debts %}
        <p><h2>Twoje grupy:</h2></p>
        <center>
        <table>
            <tr>
                <td width="200">Nazwa grupy</td>
                <td width="200">Założyciel</td>
            </tr>
        </table>
        {% for group in groups %}
            <table border="1">
                <tr>
                    <td width="200">{{ group.group_name }}</td>
                    <td width="200">{{ group.owner.first_name }} {{ group.owner.last_name }}</td>
                </tr>
            </table>
            </center>
        {% endfor %}
    {% else %}
        <p><center><h2>Nie nalezysz do żadnych grup.</h2></center></p>
    {% endif %}

{% endblock %}