{% extends "index.html"%}

{% block onload %}
    form_onload()
{% endblock onload %}

{% block content %}

    <div id="welcome">
        <h1>Rejestracja użytkownika</h1>
    </div>

    <form action="." method="post" id="register_form">
        <fieldset id="register_auth">
            <ol>
                <li>
                    {% if form.name.errors %}
                        <ul class="errorlist float_right">
                            {% for error in form.name.errors %}
                                <li>{{error|escape}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label for="id_name">Imie: <span>(pole wymagane)</span></label>
                    <input type="text" name="name" id="id_name"/>
                </li>
                <li>
                    {% if form.surname.errors %}
                        <ul class="errorlist float_right">
                            {% for error in form.surname.errors %}
                                <li>{{error|escape}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label for="id_surname">Nazwisko: <span>(pole wymagane)</span></label>
                    <input type="text" name="surname" id="id_surname"/>
                </li>
                <li>
                    {% if form.email.errors %}
                        <ul class="errorlist float_right">
                            {% for error in form.email.errors %}
                                <li>{{error|escape}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label for="id_email">e-mail: <span>(pole wymagane)</span></label>

                    <input type="email" name="email" id="id_email"/> {# form.email #}
                </li>
                <li>
                    {% if form.password.errors %}
                        <ul class="errorlist float_right">
                            {% for error in form.password.errors %}
                                <li>{{error|escape}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label for="id_password">Hasło: </label> <span>(pole wymagane)</span>
                    <input type="password" name="password" id="id_password" /> 
                </li>

            </ol>
        </fieldset>
        <fieldset><input type="submit" value="Rejestracja" /></fieldset>
    </form>
{% endblock content %}
